.flat-page {
  background-size: cover;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  color: white;
  img {
    width: 150px;
  }
}
